:root{
    --primary-color: #2DF8BB;
    --secondary-color: #243A5A;
    --dark: #000;
    --dim-color: #968C8C;
    --bg-secondary: #F6FFFC;
}
/* total-body-styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'general-sans', sans-serif;
}
a{
    text-decoration: none;
    color: var(--dark);
    font-size: 22px;
}
span{
    color: var(--primary-color);
}
p{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #968C8C;
    text-align: justify;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 85px;
    position: fixed;
    background: white;
    z-index: 10;
}
nav{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    position: fixed;
    top: 0;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
nav .left-nav-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
nav .left-nav-icons i{
    font-size: 24px;
}
nav .menu-icon{
    display: none
}
.menu-icon i{
    font-size: 24px;
    cursor: pointer;
}
.dropdown-menu{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: white;
    height: auto;
    position: fixed;
    top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.dropdown-menu ul{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-direction: column;
}
.dropdown-menu ul a{
    padding: 0.7rem;
}
.dropdown-menu ul a:hover{
    color: var(--primary-color);
}
.dropdown-menu i{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 24px;
    cursor: pointer;
}

/* hero-section-styling */
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: url('./images/green-bg.png') no-repeat center center/cover;
    height: 100vh;
}
#hero .container{
    width: 80%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 80%;
    gap: 5rem;
    z-index: 1;
}
#hero .hero-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.hero-text h1{
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
}
#hero .hero-image{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hero .hero-image img{
    width: 100%;
    height: 100%;
}
#hero .white-bg{
    width: 100%;
    height: 100%;
    background: url('./images/white-bg.png') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
#hero .black-bg{
    width: 100%;
    height: 100%;
    background: url('./images/primary-bg.png') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
#hero .hero-search{
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    padding-left: 20px;
    align-self: flex-start;
}
.hero-search .primary-btn{
    background-color: var(--primary-color);
    padding: 15px 20px;
    border-radius: 10px;
}
#hero .hero-search input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #968C8C;
}
.hero-search input:focus{
    outline: none;
    border: none;
}
/* stats-styling */

#stats{
    width: 100%;
    height: 38vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
}
#stats .container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.container .stat-box{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
    width: 392px;
    height: auto;
    background-origin: padding-box;
    border-radius: 10px;
    gap: 1rem;
}
.stat-box img{
    cursor: pointer;
}
/* detail-section-styling */
#detail{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: var(--secondary-color);
    padding: 50px 0;
    border-bottom: 20px solid var(--primary-color);
}
#detail .container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.container .detail-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    gap: 1rem;
    padding: 10px;
}
.detail-text h1{
    font-size: 48px;
    color: white;
}
.detail-text .skill-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.skill-list ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}
.skill-list ul li{
    display: flex;
    justify-content: center;
    border: 1px solid var(--primary-color);
    color:var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    list-style-type: style;
}
.skill-list .more-skills{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dim-color);
    gap: 1rem;
    border: 1px solid var(--dim-color);
    border-radius: 10px;
    padding: 10px;
}
.container .detail-image{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}
.detail-image img{
    width: 70%;
}

/* agencies-section-styling */
#agencies{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: var(--bg-secondary);
    padding: 50px 0;
    flex-direction: column;
    gap: 2rem;
}
#agencies .container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
#agencies .container .item{
    width: 390px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2;
    background-color: white;
    border-top: 10px solid var(--primary-color);
    transition: .2s;
}
.container .item:hover{
    box-shadow: 0 5px 9px var(--primary-color);

}
.item .images{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    margin: 30px 0;
}
.images .img1,.img2, .img3, .img4{
position: absolute;
width: 10%;
}
.images .img2{
    left: 20px;
}
.images .img3{
    left: 40px;
}
.images .img4{
    left: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images .fourty{
    position: absolute;
    left: 60px;
    color: #000;
}
.item .title{
    background-color: #F9F9F9;
    border-left: 5px solid var(--primary-color);
    padding: 10px;
}
.item p{
    line-height: 2;
}

/* glob-section-sytling */
#glob{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 50px 0;
}
#glob .container{
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
#glob .container .banner{
    width: 100%;
    padding: 30px;
    border-radius: 50px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    gap: 1rem;

}
.banner .glob-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}
.glob-text h1{
    color: white;
    font-size: 48px;
}
.glob-text p{
    font-size: 20px;
}
.banner .glob-left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.glob-left img{
    display: flex;
    width: 100%;
}

/* medium-screens-resposive */
@media screen and (max-width: 1280px) {
    nav ul{
        display: none;
    }
    nav .left-nav-icons{
        display: none;
    }
    nav .menu-icon{
        display: block;
    }
    #hero .container{
        flex-direction: column;
        gap: 1rem;
        padding-top: 50px;
    }
    #hero .hero-text{
        width: 80%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-text p{
        text-align: center;
    }
    #hero .hero-image{
        width: 60%;
    }
    #hero .container{
        margin-top: 100px;
    }
    #stats .container{
        flex-direction: column;
        gap: 2rem;
    }
    .container .stat-box{
        width: 100%;
    }
    #stats{
        height: auto;
    }
    #stats .stat-box{
        width: 60%;
    }
    #detail .container{
        flex-direction: column;
        gap: 2rem;
        padding-top: 30px;
    }
    .container .detail-text{
        width: 90%;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .detail-text p{
        text-align: center;
    }
    .container .detail-image{
        width: 80%;
        justify-content: center;
    }
    #agencies .container{
        flex-wrap: wrap;
    }
    #agencies .second{
        display: none;
    }
    .container .banner{
        flex-direction: column;
        gap: 2rem;
    }
    #glob{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .banner .glob-text{
        width: 90%;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .banner .glob-left{
        display: none;
    }
}
/* tablet-frist-responsive */
@media screen and (max-width: 768px) {
    #hero .hero-image{
        width: 80%;
    }
    #stats .stat-box{
        width: 100%;
    }
    #hero .hero-search a{
        font-size: 18px;
    }
    #hero .hero-text{
        width: 100%;
    }
    #agencies .second{
        display: none;
    }
    #glob .container{
        width: 90%;
    }
    #glob .container .banner{
        padding: 10px;
        border-radius: 10px;
    }
    .banner .glob-text h1{
        font-size: 36px;
    }
    

}

/* mobile-first-responsive */
@media screen and (max-width: 480px) {
    #hero .hero-text h1{
        font-size: 36px;
    }
    #hero .hero-text p{
        font-size: 16px;
    }
    #hero .hero-image{
        width: 100%;
    }
    #hero .hero-search a{
        font-size: 16px;
    }
    #stats{
        padding: 10px 0;
    }
    #stats .container{
        width: 95%;
    }
    .container .detail-text{
        width: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .container .detail-image{
        width: 80%;
        justify-content: center;
    }
    .container .detail-image{
        width: 100%;
        justify-content: center;
    }
    .detail-text .skill-list {
        display: none;
    }
    #agencies .container{
        width: 95%;
        display: flex;
        flex-direction: column;
    }
    #agencies .second{
        display: none;
    }
}
@media screen and (max-width: 800px){
    #detail .more-skills{
        display: none;
    }
    #agencies .second{
        display: none;
    }
    
}